.fundo-total {
  background-color: #261206;
  color: #f2e2ce;
}

.t-cafebom {
  background-color: #734022;
  text-align: center;
  color: #f2e2ce;
  padding: 20px;
  margin: 30px;
}

.img-quercafe {
  display: inline-block;
  margin-left: 30px;
  margin-right: 70px;
}

.tutorial {
  display: inline-block;
  width: 350px;
  margin-bottom: 30px;
  height: 200px;
}

.tutorial02 {
  display: inline-block;
  margin: 20px;
}

.conteiner-img {
  padding-left: 280px;
}

.dicas {
  margin-left: 20px;
}

.box-dicas {
  display: block;
  width: 500px;
  height: 70px;
  padding-bottom: 100px;
}
